defaults: &defaults
  notion:
    databases:
      task_definition: ""
      interval_type: ""
  field_name_definition:
    time_mark: ""
    is_done: ""
    repeatable_task: ""
    deadline: ""

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
